body {
	height: 100%;
	margin: 0;
	position: relative;
}

header{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 2;
    background-color: gray;
    height: 14px;
}



nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: gray;
}

nav>a {
    text-decoration: none;
    padding: 30px 40px;
    color: black;
    margin: 0 40px;
}

main {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home>a>img {
    height: 80px;
    width: 80px;
}

.projet-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
}

.projet-section

.projet-container {
    background-color: gray;
    height: 300px;
    width: 200px;
    border-radius: 10px;
    
}

.projet {
    height: 100%;
    width: 100%;
}

.projet>* {
    text-decoration: none;
    color: black;
}