body {
	height: 100%;
	margin: 0;
	
	position: relative;
}

header{
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 2;
    background-color: gray;
    height: 80px;
}

main {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav>a {
    text-decoration: none;
    padding: 30px 40px;
    color: black;
    margin: 0 40px;
}